{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of all cars in the fleet</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Original Car</th>
                        <th>Original tCO2</th>
                        <th>Proposed Car</th>
                        <th>Proposed tCO2</th>
                        <th>Total distance</th>
                        <th>Longest trip</th>
                        <th>Year made</th>
                        <th>Frozen</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Original Car</th>
                        <th>Original tCO2</th>
                        <th>Proposed Car</th>
                        <th>Proposed tCO2</th>
                        <th>Total distance</th>
                        <th>Longest trip</th>
                        <th>Year made</th>
                        <th>Frozen</th>
                    </tfoot>
                    <tbody>
                    {% for car in object_list %}
                        <tr>
                            <td><a href="{% url 'cars_file_update' pk=car.id %}">{{ car.license_plate }}</a></td>
                            <td style="background-color: #e7ffc7">{{ car.type.name }} {{ car.type.engine_type }}</td>
                            <td style="background-color: #d5ff9e">{{ car.original_emissions_total_t|floatformat:2 }}</td>
                            <td style="background-color: #cfe1fa">
                                {{ car.proposed_type.name }} {{ car.proposed_type.engine_type }}
                                {% if car.proposed_type.engine_type ==  "ELECTRIC"%} ♻️ {% endif %}
                                {% if car.proposed_type.engine_type ==  "DIESEL"%} 🔥 {% endif %}
                                {% if car.proposed_type.engine_type ==  "GAS"%} 🕯️ {% endif %}
                                {% if car.proposed_type.engine_type ==  "HYBRID"%} ☯️️ {% endif %}
                                {% if not car.proposed_type%} Removed ❌ {% endif %}
                            </td>
                            <td style="background-color: #b3d2fc">{{ car.proposed_emissions_total_t|floatformat:2 }}</td>
                            <td>{{ car.distance_total.km |floatformat:0 }} km</td>
                            <td>{{ car.distance_max.km |floatformat:0 }} km</td>
                            <td>{{ car.year_made.year }}</td>
                            <td>{% if car.frozen %}🔒{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Pie Chart -->
    {#        <div class="col-xl-4 col-lg-5">#}
    {#            <div class="card shadow mb-4">#}
    {#                <!-- Card Header - Dropdown -->#}
    {#                <div#}
    {#                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">#}
    {#                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>#}
    {##}
    {#                </div>#}
    {#                <!-- Card Body -->#}
    {#                <div class="card-body">#}
    {#                    <div class="chart-pie pt-4 pb-2">#}
    {#                        <canvas id="myPieChart"></canvas>#}
    {#                    </div>#}
    {#                    <div class="mt-4 text-center small">#}
    {#                                        <span class="mr-2">#}
    {#                                            <i class="fas fa-circle text-primary"></i> Direct#}
    {#                                        </span>#}
    {#                        <span class="mr-2">#}
    {#                                            <i class="fas fa-circle text-success"></i> Social#}
    {#                                        </span>#}
    {#                        <span class="mr-2">#}
    {#                                            <i class="fas fa-circle text-info"></i> Referral#}
    {#                                        </span>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#</div>#}

{% endblock %}